{% extends 'base.html' %}
{% block title %}Підтвердження видалення{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">
  <h2 class="mb-3">Підтвердження видалення</h2>
  <p>Ви справді хочете видалити товар <strong>{{ product.name }}</strong>?</p>

  <form method="post" class="d-flex gap-2 mt-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Так, видалити</button>
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Скасувати</a>
  </form>
</div>
{% endblock %}





